.user_Input_Box {
  width: 45vw;
  height: 32.25rem;
  position: absolute;
  left: 5vw;
  top: 13vw;
  border-radius: 1.25rem;
  border: 5px solid #ab2325;
  background: #fff;
  box-shadow: 10px 10px 10px 4px rgba(0, 0, 0, 0.5);
}

.title {
  display: flex;
  width: 45vw;
  height: 4.1875rem;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  /* left: 7.1875rem; */
  top: -0.25rem;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 3vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.name {
  width: 6.25vw;
  position: absolute;
  left: 2.875rem;
  top: 6.5rem;
  color: #000;
  font-family: Inter;
  font-size: 2vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.input_name {
  width: 28vw;
  position: absolute;
  height: 1.875rem;
  top: 6.5rem;
  left: 7vw;
  border-style: none;
  border-bottom: 1px solid;
}

.num {
  width: 6.25vw;
  position: absolute;
  left: 2.875rem;
  top: 9.5rem;
  color: #000;
  font-family: Inter;
  font-size: 2vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.input_num {
  width: 28vw;
  position: absolute;
  height: 1.875rem;
  top: 9.5rem;
  left: 7vw;
  border-style: none;
  border-bottom: 1px solid;
}

.academic {
  width: 8.6vw;
  position: absolute;
  left: 2.875rem;
  top: 12.5rem;
  color: #000;
  font-family: Inter;
  font-size: 2vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.input_academic {
  width: 28vw;
  position: absolute;
  height: 1.875rem;
  top: 12.5rem;
  left: 7vw;
  border-style: none;
  border-bottom: 1px solid;
}

.major {
  width: 6.25vw;
  position: absolute;
  left: 2.875rem;
  top: 18.5rem;
  color: #000;
  font-family: Inter;
  font-size: 2vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.input_major {
  width: 10vw;
  position: absolute;
  height: 1.875rem;
  top: 18.5rem;
  left: 7vw;
  border-style: none;
  border-bottom: 1px solid;
}

.keyword1 {
  width: 11vw;
  position: absolute;
  left: 2.875rem;
  top: 15.5rem;
  color: #000;
  font-family: Inter;
  font-size: 2vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.input_keyword1 {
  width: 12vw;
  position: absolute;
  height: 1.875rem;
  top: 15.5rem;
  left: 14vw;
  border-style: none;
  border-bottom: 1px solid;
}

.keyword2 {
  width: 11vw;
  position: absolute;
  left: 2.875rem;
  top: 18.5rem;
  color: #000;
  font-family: Inter;
  font-size: 2vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.input_keyword2 {
  width: 12vw;
  position: absolute;
  height: 1.875rem;
  top: 18.5rem;
  left: 14vw;
  border-style: none;
  border-bottom: 1px solid;
}

.keyword3 {
    width: 11vw;
    position: absolute;
    left: 2.875rem;
    top: 21.5rem;
    color: #000;
    font-family: Inter;
    font-size: 2vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  .input_keyword3 {
    width: 12vw;
    position: absolute;
    height: 1.875rem;
    top: 21.5rem;
    left: 14vw;
    border-style: none;
    border-bottom: 1px solid;
  }

  .keyword4 {
    width: 11vw;
    position: absolute;
    left: 2.875rem;
    top: 24.5rem;
    color: #000;
    font-family: Inter;
    font-size: 2vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  .input_keyword4 {
    width: 12vw;
    position: absolute;
    height: 1.875rem;
    top: 24.5rem;
    left: 14vw;
    border-style: none;
    border-bottom: 1px solid;
  }

  .keyword5 {
    width: 11vw;
    position: absolute;
    left: 2.875rem;
    top: 27.5rem;
    color: #000;
    font-family: Inter;
    font-size: 2vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  .input_keyword5 {
    width: 12vw;
    position: absolute;
    height: 1.875rem;
    top: 27.5rem;
    left: 14vw;
    border-style: none;
    border-bottom: 1px solid;
  }

.search_Btn {
  position: absolute;
  width: 4.8vw;
  height: 2.1875rem;
  position: absolute;
  right: 5%;
  bottom: 5%;
  border-radius: 1.25rem;
  background: #ab2325;
  font-size: 1.3vw;
  font-weight: bolder;
  color: #fff;
}
